<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style4.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ISSUED BOOKS</title>
   
    
</head>

<body>
    <h1>ISSUED BOOKS</h1>
<div id="add_test_details" class="details">
    <div class="container-lg">
      <div class="table-responsive">    
          <div class="table-wrapper">
              <div class="table-title">
                  <div class="row">
                      <div class="col-sm-8"></div>
                  </div>
              </div>
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th>Book Id</th>
                          <th>Book name </th>
                          <th>Date of Issue</th>
                          <th>Student Id</th>
                          <th>Student name</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% records.forEach(function(row){%>
                      <tr>
                        <td><%= row.Book_number%></td>
                        <td><%= row.Book_name%></td>
                        <td><%= row.Date_of_Issue%></td>
                        <td><%= row.Student_Id%></td>
                        <td><%= row.Student_name%></td>  
                      </tr> 
                      <%}) %>
                  </tbody>
              </table>
          </div>
        </div>
    </div>
</div>
     
</body>
</html>